.header{
    display: flex;
    justify-content: space-between;
}

.header__logo{
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
    margin-left: 1rem;
    margin-top: 2rem;
    height: 2rem;
    cursor: pointer;
}

.header__hamburger{
    background-image: url(../img/icon-menu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 3rem;
    margin-right: 1rem;
    margin-top: 2rem;
    height: 2rem;
    cursor: pointer;
}

.header__hamburger--close{
    background-image: url(../img/icon-menu-close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    margin-right: 1rem;
    margin-top: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 1;
}

@media screen and (min-width: 1024px){
    
}