.most-readed{
}

.most-readed__block{
    width: calc(100vw - 2rem);
    margin: 0 auto;
    display: flex;
    margin-top: 2rem;
}

.most-readed__block--image{
    width: 30%;
}

.most-readed__block--rightside{
    margin-left: 1rem;
}

.most-readed__block--rightside-rank{
    color: rgb(201, 200, 208);
    font-size: 2rem;
    font-weight: 700;
}

.most-readed__block--rightside-title{
    color: black;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 1rem;
}

.most-readed__block--rightside-text{
    color: black;
    margin-top: 0.5rem;
    line-height: 1.5rem;
}