.sidemenu--show{
    width: 68vw;
    height: 3100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 0;
    transition: 0.15s;
}

.sidemenu--hide{
    right: -500vw;
    width: 68vw;
    height: 3100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    transition: 0.15s;
}

.sidemenu__div-secundaria{
    width: 100%;
    margin-top: 10rem;
    display: flex;
}

.sidemenu__div-secundaria--lista{
    margin-left: 2rem;
}

.sidemenu__div-secundaria--lista-item{
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 400;
}

.sidemenu__div-secundaria--lista-item:first-child{
    margin-top: 0;
}

.sidemenu__div-secundaria--lista-item_link{
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 400;
    color: black;
}

.sidemenu__div-secundaria--lista-item_link:hover{
    color: rgb(211, 106, 102);
}

